{% extends 'base.html' %}
{% block title %}Parolă nouă{% endblock %}
{% block content %}
<div class="card">
    <h2>Setează o parolă nouă</h2>
    <form method="POST" action="/reset-password">
        <label>Token:</label>
        <input type="text" name="token" value="{{ token }}" required>

        <label>Parolă nouă:</label>
        <input type="password" name="new_password" required placeholder="Noua parolă">

        <button type="submit">Resetează parola</button>
    </form>
</div>
{% endblock %}